.header {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 5%;

  &__image {
    max-width: 100%;

    @media screen and (max-width: 600px) {
      max-height: 150px;
    }
  }
}
