.nav {
  display: flex;
  justify-content: center;
  flex-flow: wrap;

  &__items {
    display: inline-block;
    margin-bottom: 5%;
    margin-top: 5%;

    @media screen and (max-width: 600px) {
      margin: 10% 0 20% 0;
    }
  }

  &__link {
    padding: 12px;
    background-color: black;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 25px;
    cursor: pointer;

    @media screen and (max-width: 600px) {
      margin-right: 10px;
    }

    &--active {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  }
}
