.category {
  text-align: center;

  &__button {
    font-size: 16px;
    background-color: black;
    color: white;

    @media screen and (min-width: 600px) {
      display: none;
    }
  }

  &-nav {
    @extend .nav;

    &__items {
      @extend .nav__items;
    }

    &__link {
      @extend .nav__link;

      &--active {
        @extend .nav__link--active;
      }

      &--hidden {
        @media screen and (max-width: 600px) {
          display: none;
        }
      }
    }
  }
}
