.product-list {
  display: flex;
  flex-flow: wrap;

  @media screen and (max-width: 1080px) {
    justify-content: center;
  }

  &--item {
    list-style: none;
    margin-bottom: 25px;

    @media screen and (min-width: 1080px) {
      flex: 1;
      text-align: center;
    }
  }

  &--figure {
    text-align: center;
    display: inline;
  }

  &--img {
    @media screen and (max-width: 600px) {
      max-height: 300px;
      width: 100%;
      object-fit: contain;
    }
  }
}
